/* General styles */

.apptitle-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.apptitle-img h1 {
  font-size: 6rem;
  font-weight: 600;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.app-container {
  padding: 100px 0; /* Vertical padding for the container */
  background-color: black; /* Background for the container */
  color: aliceblue; /* Text color */
}

.app-services {
  display: flex; /* Flex layout for services */
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: center; /* Center items horizontally */
  text-align: center; /* Center text */
}

.app-services p {
  font-size: 1.5em; /* Text size for description */
}

.app-services a {
  text-decoration: none; /* No underline for links */
  transition: color 0.3s ease; /* Smooth color transition */
}

.app-services a:hover {
  color: rgb(101, 101, 236); /* Color change on hover */
}

.app-services img {
  width: 56em; 
  height: auto; 
  padding: 50px; /* Padding around images */
  transition: transform 0.4s ease-in-out; /* Smooth scaling transition */
  overflow: hidden;
  border-radius: 50px;
}

.app-services img:hover {
  transform: scale(1.1); /* Scale effect on hover */
}

/* Modal styles */
/* Modal styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer; /* Add cursor style for the modal */
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  cursor: auto; /* Default cursor for the image */
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.close-modal:hover {
  transform: scale(1.2);
}


/* Media Queries */
@media (max-width: 768px) {
  .apptitle-img h1 {
    font-size: 5vh; /* Responsive font size for title */
  }

  .app-services img {
    height: 35vh;

    max-width: 100vw; /* Max width for smaller screens */
  }

  .oval {
    font-size: 16px; /* Adjusted font size */
  }
}
