html, body, #root {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  padding: 0;
}



.apptitle-img {
  position: relative; /* Ensure the overlay is positioned relative to the title image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.apptitle-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha for the desired shade */
  z-index: 1; /* Place overlay behind the text */
}

.apptitle-img h1 {
  font-size: 6rem;
  font-weight: 600;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: 2; /* Bring the title in front of the overlay */
}

.app-container {
  padding: 100px 0;
  background-color: black;
  color: aliceblue;
}

.app-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.app-services p {
  font-size: 1.5em;
}

.app-services a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.app-services a:hover {
  color: rgb(101, 101, 236);
}

.app-services img {
  width: 56em; 
  height: auto; 
  padding: 50px; 
  transition: transform 0.4s ease-in-out;
  overflow: hidden;
  border-radius: 50px;
}

.app-services img:hover {
  transform: scale(1.1);
}

/* Modal styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  cursor: auto;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.close-modal:hover {
  transform: scale(1.2);
}

/* Media Queries */
@media (max-width: 768px) {
  .apptitle-img h1 {
    font-size: 5vh;
  }

  .app-services img {
    height: 60vh;
    width: 100vw;
  }

  .oval {
    font-size: 16px;
  }
}

@media (max-width: 440px) {
  .apptitle-img h1 {
    font-size: 5vh;
  }

  .app-services img {
    height: 35vh;
    width: 100vw;
    
  }

  .oval {
    font-size: 16px;
  }
}
@media (max-width: 412px) {
  .app-services img {
    height: 37vh;
    width: 100vw;
    
  }
}

@media (max-width: 376px) {
  .app-services img {
    height: 42vh;
    width: 100vw;
    
  }
}

@media (max-width: 350px) {
  .app-services img {
    height: 32vh;
    width: 120vw;
    
  }
}

