/* General styles */
.graphictitle-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.graphictitle-img h1 {
  font-size: 6rem;
  font-weight: 600;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.graphic-container {
  padding: 100px 0px;
  overflow: hidden;
  background-color: black;
  color: aliceblue;
}

.graphic-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.graphic-services img {
  
  height: auto;
  padding-top: 100px;
  transition: transform 0.4s ease-in-out;
}

.graphic-services img:hover {
  transform: scale(1.1);
}
.img-0 {
  width: 18vw;
  margin-left: 120px;
}


.img-1 {
  width: 18vw;
  margin: 0 140px;
}

.img-2 {
  width: 18vw;
  margin-right: 120px;
}

.img-3 {
  width: 26vw;
  margin-left: 120px;
}

.img-4{
  width: 26vw;
  

}
.img-5{
  width: 26vw;
  margin-right: 120px;
}


.img-6 {
  width: 18vw;
  margin-left: 120px;
}

.img-7 {
  width: 18vw;
  margin: 0 150px;
}

.img-8 {
  width: 18vw;
  margin-right: 120px;
}

.img-9 {
  width: 26vw;
  margin-left: 80px;
}

.img-10{
  width: 26vw;
  margin-left: 80px;
  margin-right: 80px;

}
.img-11{
  width: 26vw;
  margin-right: 80px;
}

.img-12 {
  width: 26vw;
  margin-left: 80px;
}

.img-13 {
  width: 26vw;
  margin-left: 80px;
  margin-right: 80px;
}

.img-14 {
  width: 26vw;
  margin-right: 80px;
}

.img-15 {
  width: 26vw;
  margin-left: 80px;
}

.img-16{
  width: 26vw;
  margin-left: 80px;
  margin-right: 80px;

}
.img-17{
  width: 26vw;
  margin-right: 80px;
}
/* Modal styles */
/* Modal styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer; /* Add cursor style for the modal */
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  cursor: auto; /* Default cursor for the image */
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.close-modal:hover {
  transform: scale(1.2);
}

/* Media Queries */
@media (max-width: 768px) {
  .graphictitle-img h1 {
    font-size: 6vh;
  }
  .graphic-services {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  

  .img-0 {
    width: 90vw;
    margin: 0;
  }
  
  
  .img-1 {
    width: 90vw;
    margin: 0;
  }
  
  .img-2 {
    width: 80vw;
    margin: 0;
  }
  
  .img-3 {
    width: 70vw;
    margin: 0;
  }
  
  .img-4{
    width: 70vw;
    margin: 0;
  }
  .img-5{
    width: 70vw;
    margin: 0;
  }
  
  
  .img-6 {
    width: 70vw;
    margin: 0;
  }
  
  .img-7 {
    width: 70vw;
    margin: 0;
  }
  
  .img-8 {
    width: 70vw;
    margin: 0;
  }
  
  .img-9 {
    width: 90vw;
    margin: 0;
  }
  
  .img-10{
    width: 90vw;
    margin: 0;
  }
  .img-11{
    width: 90vw;
    margin: 0;
  }
  
  .img-12 {
    width: 90vw;
    margin: 0;
  }
  
  .img-13 {
    width: 90vw;
    margin: 0;
  }
  
  .img-14 {
    width: 90vw;
    margin: 0;
  }
  
  .img-15 {
    width: 90vw;
    margin: 0;
  }
  
  .img-16{
    width: 90vw;
    margin: 0;
  }
  .img-17{
    width: 90vw;
    margin: 0;
  }
}