body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.rotating-logo {
    width: 70px; 
    height: auto; 
    animation: rotate 3s linear infinite; 
    cursor: pointer;
    position: absolute;
    z-index: 99;
    top: 20px;
    left: 20px;
}



@keyframes rotate {
    from {
        transform: rotate(0deg); /* Start at 0 degrees */
    }
    to {
        transform: rotate(360deg); /* Rotate to 360 degrees */
    }
}
