/* .twitchtitle-img {
    
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.twitchtitle-img h1 {
  font-size: 15vh;
  text-align: center;
}
.twitch-container {
  padding: 100px 0px;
  background-color: black;
  color: aliceblue;

}
  .twitch-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .twitch-services a {
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .twitch-services a:hover {
    color: rgb(101, 101, 236);
  }
  
  .twitch-services img {
    width: 75vw;
    height: auto;
    padding: 5px 1em;
    transition: transform 0.4s ease-in-out;
  }
  
  .twitch-services img:hover {
    transform: scale(1.1);
  }
  
  
  
  
 
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  cursor: auto; 
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.close-modal:hover {
  transform: scale(1.2);
}



  
  
  @media (max-width: 768px) {
    .twitchtitle-img h1 {
      font-size: 6vh;
    }
  
    .twitch-services img {
      padding: 0.5em;
      height: auto;
      width: 94vw;
    }
  
    .oval {
      font-size: 16px;
    }
  }
   */