@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
html, body{
  font-family: "League Spartan", sans-serif;
}
.vertical-banner {
  
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.vertical-banner::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

html, body, #root {
  scroll-behavior: smooth;
  height: 100%; /* Ensure full viewport height */
  margin: 0; /* Remove any margin */
  padding: 0;
}

.Logo-container {
  position: absolute;
  z-index: 1;
 
  justify-content: center;
  align-items: center;
}

.banner-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  scroll-snap-align: start;
}

.banner-content:nth-of-type(0) {
  text-align: center;
  position: relative;
  
  z-index: 10;  
}


.text-container {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Fill the section height */
  
}

.typed-out {
  overflow: hidden;
  border-right: .10em solid yellowgreen;
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  transition: width 1 ease; /* Smooth transition */
}

.typed-out.animate {
  animation: typing 3s forwards, blink-caret 1s step-end infinite; /* Apply the typing and blinking animations */
}

@keyframes typing {
  0% { width: 0; }
  100% { width: 100%; }
}

@keyframes blink-caret {
  0%, 100% { border-color: transparent; }
  50% { border-color: orange; }
}


@media (max-width: 768px) {
  .Logo-container {
    display: none; /* Hide logo on smaller screens */
  }

  .banner-content h1 {
    font-size: 3rem; /* Smaller title */
  }

  .banner-content p {
    font-size: 1.5rem; /* Smaller description */
  }
}
