.slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden; /* Ensure no overflow from parent container */
}

.center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 20vh;
}

.webdev, .graphic {
  background-size: cover;
  background-position: 10px;
  background-repeat: no-repeat;
  height: 200px;
  width: 50%;
  position: relative;
  transition: transform 0.5s ease, z-index 0.5s ease, width 0.5s ease, opacity 0.5s ease;
  text-align: center;
  text-decoration: none;
}

/* Overlay styling */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(2px); /* Blur effect */
  z-index: 1; /* Ensure it's above the background but below the text */
}

.webdev:hover,
.graphic:hover {
  transform: scale(1.05);
  z-index: 2;
  width: 60%;
  opacity: 1; /* Change opacity on hover */
}

.webdev h1, .graphic h1 {
  position: relative; /* Change to relative */
  top: 35%;
  color: #fff;
  font-size: 2.3em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  z-index: 2; /* Ensure title is above the overlay */
  
}
.webdev h1{
  right: 13%;
}
.graphic h1{
  left: 13%;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .slider-container {
    flex-direction: column; /* Stack images vertically */
    height: auto; /* Allow height to adjust based on content */
  }

  .webdev, .graphic {
    height: 20vh; /* Adjust height for better visibility */
    width: 75vw; /* Full width for stacked layout */
  }

  .webdev h1, .graphic h1 {
    text-align: center;
    font-size: 1.2em; /* Smaller text */
    left: 20px; /* Adjust text positioning */
  }
}

@media (max-width: 480px) {
  .webdev, .graphic {
    height: 200px; /* Adjust height for mobile */
  }

  .webdev h1, .graphic h1 {
    text-align: center;
    font-size: 0.9em; /* Smaller text for mobile */
    left: 10px; /* Adjust positioning for mobile */
  }
}
