/* General styles */
.webtitle-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.webtitle-img h1 {
  font-size: 6rem;
  font-weight: 600;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  text-align: center;
}
.webtitle-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha for the desired shade */
  z-index: 1; /* Place overlay behind the text */
}

.webtitle-img h1 {
  font-size: 6rem;
  font-weight: 600;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: 2; /* Bring the title in front of the overlay */
}


.web-container {
  padding: 100px 0px;
  background-color: black;
  color: aliceblue;
}

.web-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center the images */
  gap: 100px; /* Add space between images */
}

.web-services img {
  width: 70vw; 
  height: 85vh; 
  padding: 0;
  transition: transform 0.4s ease-in-out;
  border-radius: 9px;
}

.web-services img:hover {
  transform: scale(1.1);
}

/* Modal styles */
/* Modal styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer; /* Add cursor style for the modal */
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  cursor: auto; /* Default cursor for the image */
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.close-modal:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .webtitle-img h1 {
    font-size: 5.5vh;
  }

  .web-services img {
    padding: 0.5em;
    height: 28vh;
    width: 94vw;
  }

  .oval {
    font-size: 16px;
  }
}
