.back-container {
    text-align: center;
    color: white; /* Adjust color as needed */
    background-image: url('../img/your-background-image.jpg'); /* Replace with your background image path */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ensure full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

.stroke-text {
    font-size: 5rem;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 2px white; /* Adjust stroke color and width */
}

span a{
    color: #4794ff;
}


.typed-out {
    overflow: hidden; /* Ensures the text doesn't overflow */
    border-right: .0em solid rgb(0, 0, 0); /* Cursor effect */
    white-space: nowrap; /* Prevents wrapping */
    font-size: 1.6rem; /* Adjust size as needed */
    width: 0; /* Start with width 0 for the animation */
    transition: width 1s ease; /* Smooth transition */
}

.typed-out.animate {
    font-size: 2rem;
    animation: typing 3s forwards, blink-caret 1.5s step-end infinite; /* Typing and blinking animations */
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    50% { border-color: transparent; }
}

@media (max-width: 768px){
   .typed-out.animate{
    font-size: 1.5rem;
   }
   .stroke-text {
    font-size: 5rem;
padding: 0em 2em;
   }
}
